*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 15px;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  width: 330px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.qr {
  width: 100%;
  border-radius: var(--border-radius);
}

h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  margin-bottom: 2em;
}
